<!-- Start Main Top -->
<header class="main-header">
  <!-- Start Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
      <div class="container">
          <!-- Start Header Navigation -->
          <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
          </button>
              <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" class="logo" alt=""></a>
          </div>
          <!-- End Header Navigation -->

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-menu">
              <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                  <li class="nav-item active"><a class="nav-link" >Home</a></li>
                  <li class="nav-item"><a class="nav-link" >About Us</a></li>
                  <li class=" megamenu">
                      <a  class="nav-link dropdown-toggle " data-toggle="dropdown" routerLink="products">Products</a>
                  </li>
                  <li class="dropdown">
                      <a  class="nav-link dropdown-toggle " data-toggle="dropdown" routerLink="cart">MyCart <i class="fa-solid fa-cart-shopping"></i></a>

                  </li>

              </ul>
          </div>
      </div>
  </nav>
  <!-- End Navigation -->
</header>
